html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    line-height: 1.6;
}

.container {
    width: 100%;
    padding: 1rem;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.4rem;
}

p {
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}