html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Cambria', sans-serif;
    line-height: 1.6;
}


@media (min-width: 768px) {
    body {
        margin: 0;
        font-family: 'Times New Roman', sans-serif;
        line-height: 1.6;
        color: green;
    }
}

@media (min-width: 1024px) {
    body {
        margin: 0;
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
        color: red;
    }
}

@media (min-width: 1280px) {
    body {
        margin: 0;
        font-family: 'Franklin Gothic Medium', sans-serif;
        line-height: 1.6;
        color: blue;
    }
}